# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Data and Logs
*.log
data/*
!data/.gitkeep
logs/
*.pkl
*.h5

# Ignore PNGs in data directory and all subdirectories
data/**/*.png

# Keep the data directory structure
!data/**/
!data/**/.gitkeep

# OS specific
.DS_Store
Thumbs.db

# Weights & Biases
wandb/
*.wandb
artifacts/

# Checkpoint files
checkpoints/**/*.pth
checkpoints/*/*.pth
*.pth
!checkpoints/**/
!checkpoints/**/output.txt
!checkpoints/validation_scores.json
!checkpoints/validation_scores_sorted.txt
checkpoints/validation_scores_sorted.txt
checkpoints/validation_scores.json
checkpoints/AL1e-04W1e-07B1E10/output.txt
checkpoints/AL1e-04W1e-07B1E15/output.txt
checkpoints/AL1e-04W1e-07B1E5/output.txt
checkpoints/AL1e-04W1e-07E10/output.txt
checkpoints/AL1e-04W1e-07E15/output.txt
checkpoints/AL1e-04W1e-07E5/output.txt
checkpoints/AL1e-04W1e-08B1E10/output.txt
checkpoints/AL1e-04W1e-08B1E15/output.txt
checkpoints/AL1e-04W1e-08B1E5/output.txt
checkpoints/AL1e-04W1e-08E10/output.txt
checkpoints/AL1e-04W1e-08E15/output.txt
checkpoints/AL1e-04W1e-08E5/output.txt
checkpoints/AL1e-04W1e-09B1E10/output.txt
checkpoints/AL1e-04W1e-09B1E15/output.txt
checkpoints/AL1e-04W1e-09B1E5/output.txt
checkpoints/AL1e-04W1e-09E10/output.txt
checkpoints/AL1e-04W1e-09E15/output.txt
checkpoints/AL1e-04W1e-09E5/output.txt
checkpoints/AL1e-05W1e-07B1E10/output.txt
checkpoints/AL1e-05W1e-07B1E15/output.txt
checkpoints/AL1e-05W1e-07B1E5/output.txt
checkpoints/AL1e-05W1e-07B2E10/output.txt
checkpoints/AL1e-05W1e-07B2E15/output.txt
checkpoints/AL1e-05W1e-07B4E10/output.txt
checkpoints/AL1e-05W1e-07B4E15/output.txt
checkpoints/AL1e-05W1e-07E10/output.txt
checkpoints/AL1e-05W1e-07E15/output.txt
checkpoints/AL1e-05W1e-07E5/output.txt
checkpoints/AL1e-05W1e-08B1E10/output.txt
checkpoints/AL1e-05W1e-08B1E15/output.txt
checkpoints/AL1e-05W1e-08B1E5/output.txt
checkpoints/AL1e-05W1e-08B2E10/output.txt
checkpoints/AL1e-05W1e-08B2E15/output.txt
checkpoints/AL1e-05W1e-08B4E10/output.txt
checkpoints/AL1e-05W1e-08B4E15/output.txt
checkpoints/AL1e-05W1e-08E10/output.txt
checkpoints/AL1e-05W1e-08E15/output.txt
checkpoints/AL1e-05W1e-08E5/output.txt
checkpoints/AL1e-05W1e-09B1E10/output.txt
checkpoints/AL1e-05W1e-09B1E15/output.txt
checkpoints/AL1e-05W1e-09B1E5/output.txt
checkpoints/AL1e-05W1e-09B2E10/output.txt
checkpoints/AL1e-05W1e-09B2E15/output.txt
checkpoints/AL1e-05W1e-09B4E10/output.txt
checkpoints/AL1e-05W1e-09B4E15/output.txt
checkpoints/AL1e-05W1e-09E10/output.txt
checkpoints/AL1e-05W1e-09E15/output.txt
checkpoints/AL1e-05W1e-09E5/output.txt
checkpoints/AL1e-06W1e-07B1E10/output.txt
checkpoints/AL1e-06W1e-07B1E15/output.txt
checkpoints/AL1e-06W1e-07B1E5/output.txt
checkpoints/AL1e-06W1e-07B2E10/output.txt
checkpoints/AL1e-06W1e-07B2E15/output.txt
checkpoints/AL1e-06W1e-07B4E10/output.txt
checkpoints/AL1e-06W1e-07B4E15/output.txt
checkpoints/AL1e-06W1e-07E10/output.txt
checkpoints/AL1e-06W1e-07E15/output.txt
checkpoints/AL1e-06W1e-07E5/output.txt
checkpoints/AL1e-06W1e-08B1E10/output.txt
checkpoints/AL1e-06W1e-08B1E15/output.txt
checkpoints/AL1e-06W1e-08B1E5/output.txt
checkpoints/AL1e-06W1e-08B2E10/output.txt
checkpoints/AL1e-06W1e-08B2E15/output.txt
checkpoints/AL1e-06W1e-08B4E10/output.txt
checkpoints/AL1e-06W1e-08B4E15/output.txt
checkpoints/AL1e-06W1e-08E10/output.txt
checkpoints/AL1e-06W1e-08E15/output.txt
checkpoints/AL1e-06W1e-08E5/output.txt
checkpoints/AL1e-06W1e-09B1E10/output.txt
checkpoints/AL1e-06W1e-09B1E15/output.txt
checkpoints/AL1e-06W1e-09B1E5/output.txt
checkpoints/AL1e-06W1e-09B2E10/output.txt
checkpoints/AL1e-06W1e-09B2E15/output.txt
checkpoints/AL1e-06W1e-09B4E10/output.txt
checkpoints/AL1e-06W1e-09B4E15/output.txt
checkpoints/AL1e-06W1e-09E10/output.txt
checkpoints/AL1e-06W1e-09E15/output.txt
checkpoints/AL1e-06W1e-09E5/output.txt
checkpoints/AL1e-07W1e-07B1E10/output.txt
checkpoints/AL1e-07W1e-07B1E15/output.txt
checkpoints/AL1e-07W1e-07B1E5/output.txt
checkpoints/AL1e-07W1e-07B2E10/output.txt
checkpoints/AL1e-07W1e-07B2E15/output.txt
checkpoints/AL1e-07W1e-07B4E10/output.txt
checkpoints/AL1e-07W1e-07B4E15/output.txt
checkpoints/AL1e-07W1e-07E10/output.txt
checkpoints/AL1e-07W1e-07E15/output.txt
checkpoints/AL1e-07W1e-07E5/output.txt
checkpoints/AL1e-07W1e-08B1E10/output.txt
checkpoints/AL1e-07W1e-08B1E15/output.txt
checkpoints/AL1e-07W1e-08B1E5/output.txt
checkpoints/AL1e-07W1e-08B2E10/output.txt
checkpoints/AL1e-07W1e-08B2E15/output.txt
checkpoints/AL1e-07W1e-08B4E10/output.txt
checkpoints/AL1e-07W1e-08B4E15/output.txt
checkpoints/AL1e-07W1e-08E10/output.txt
checkpoints/AL1e-07W1e-08E15/output.txt
checkpoints/AL1e-07W1e-08E5/output.txt
checkpoints/AL1e-07W1e-09B1E10/output.txt
checkpoints/AL1e-07W1e-09B1E15/output.txt
checkpoints/AL1e-07W1e-09B1E5/output.txt
checkpoints/AL1e-07W1e-09B2E10/output.txt
checkpoints/AL1e-07W1e-09B2E15/output.txt
checkpoints/AL1e-07W1e-09B4E10/output.txt
checkpoints/AL1e-07W1e-09B4E15/output.txt
checkpoints/AL1e-07W1e-09E15/output.txt
checkpoints/AL1e-07W1e-09E5/output.txt
checkpoints/ASAL1e-06W1e-07B1E10/output.txt
checkpoints/ASAL1e-06W1e-07B1E15/output.txt
checkpoints/ASAL1e-06W1e-07B2E10/output.txt
checkpoints/ASAL1e-06W1e-07B2E15/output.txt
checkpoints/ASAL1e-06W1e-07B4E10/output.txt
checkpoints/ASAL1e-06W1e-07B4E15/output.txt
checkpoints/ASAL1e-06W1e-08B1E10/output.txt
checkpoints/ASAL1e-06W1e-08B1E15/output.txt
checkpoints/ASAL1e-06W1e-08B2E10/output.txt
checkpoints/ASAL1e-06W1e-08B2E15/output.txt
checkpoints/ASAL1e-06W1e-08B4E10/output.txt
checkpoints/ASAL1e-06W1e-08B4E15/output.txt
checkpoints/ASAL1e-06W1e-09B1E10/output.txt
checkpoints/ASAL1e-06W1e-09B1E15/output.txt
checkpoints/ASAL1e-06W1e-09B2E10/output.txt
checkpoints/ASAL1e-06W1e-09B2E15/output.txt
checkpoints/ASAL1e-06W1e-09B4E10/output.txt
checkpoints/ASAL1e-06W1e-09B4E15/output.txt
checkpoints/ASAL1e-07W1e-07B1E10/output.txt
checkpoints/ASAL1e-07W1e-07B1E15/output.txt
checkpoints/ASAL1e-07W1e-07B2E10/output.txt
checkpoints/ASAL1e-07W1e-07B2E15/output.txt
checkpoints/ASAL1e-07W1e-07B4E10/output.txt
checkpoints/ASAL1e-07W1e-07B4E15/output.txt
checkpoints/ASAL1e-07W1e-08B1E10/output.txt
checkpoints/ASAL1e-07W1e-08B1E15/output.txt
checkpoints/ASAL1e-07W1e-08B2E10/output.txt
checkpoints/ASAL1e-07W1e-08B2E15/output.txt
checkpoints/ASAL1e-07W1e-08B4E10/output.txt
checkpoints/ASAL1e-07W1e-08B4E15/output.txt
checkpoints/ASAL1e-07W1e-09B1E10/output.txt
checkpoints/ASAL1e-07W1e-09B1E15/output.txt
checkpoints/ASAL1e-07W1e-09B2E10/output.txt
checkpoints/ASAL1e-07W1e-09B2E15/output.txt
checkpoints/ASAL1e-07W1e-09B4E10/output.txt
checkpoints/ASAL1e-07W1e-09B4E15/output.txt
checkpoints/B Original Weighted/output.txt
checkpoints/BL1e-05W1e-07B1E10/output.txt
checkpoints/BL1e-05W1e-07B1E15/output.txt
checkpoints/BL1e-05W1e-07B2E10/output.txt
checkpoints/BL1e-05W1e-07B2E15/output.txt
checkpoints/BL1e-05W1e-07B4E10/output.txt
checkpoints/BL1e-05W1e-08B1E10/output.txt
checkpoints/BL1e-05W1e-08B1E15/output.txt
checkpoints/BL1e-05W1e-08B2E10/output.txt
checkpoints/BL1e-05W1e-08B2E15/output.txt
checkpoints/BL1e-05W1e-08B4E10/output.txt
checkpoints/BL1e-05W1e-09B1E10/output.txt
checkpoints/BL1e-05W1e-09B1E15/output.txt
checkpoints/BL1e-05W1e-09B2E10/output.txt
checkpoints/BL1e-05W1e-09B2E15/output.txt
checkpoints/BL1e-05W1e-09B4E10/output.txt
checkpoints/BL1e-06W1e-07B1E10/output.txt
checkpoints/BL1e-06W1e-07B1E15/output.txt
checkpoints/BL1e-06W1e-07B2E10/output.txt
checkpoints/BL1e-06W1e-07B2E15/output.txt
checkpoints/BL1e-06W1e-07B4E10/output.txt
checkpoints/BL1e-06W1e-07B4E15/output.txt
checkpoints/BL1e-06W1e-08B1E10/output.txt
checkpoints/BL1e-06W1e-08B1E15/output.txt
checkpoints/BL1e-06W1e-08B2E10/output.txt
checkpoints/BL1e-06W1e-08B2E15/output.txt
checkpoints/BL1e-06W1e-08B4E10/output.txt
checkpoints/BL1e-06W1e-08B4E15/output.txt
checkpoints/BL1e-06W1e-09B1E10/output.txt
checkpoints/BL1e-06W1e-09B1E15/output.txt
checkpoints/BL1e-06W1e-09B2E10/output.txt
checkpoints/BL1e-06W1e-09B2E15/output.txt
checkpoints/BL1e-06W1e-09B4E10/output.txt
checkpoints/BL1e-06W1e-09B4E15/output.txt
checkpoints/BL1e-07W1e-07B1E10/output.txt
checkpoints/BL1e-07W1e-07B1E15/output.txt
checkpoints/BL1e-07W1e-07B2E10/output.txt
checkpoints/BL1e-07W1e-07B2E15/output.txt
checkpoints/BL1e-07W1e-07B2E5/output.txt
checkpoints/BL1e-07W1e-07B4E10/output.txt
checkpoints/BL1e-07W1e-07B4E15/output.txt
checkpoints/BL1e-07W1e-07E5/output.txt
checkpoints/BL1e-07W1e-08B1E10/output.txt
checkpoints/BL1e-07W1e-08B1E15/output.txt
checkpoints/BL1e-07W1e-08B2E10/output.txt
checkpoints/BL1e-07W1e-08B2E15/output.txt
checkpoints/BL1e-07W1e-08B2E5/output.txt
checkpoints/BL1e-07W1e-08B4E10/output.txt
checkpoints/BL1e-07W1e-08B4E15/output.txt
checkpoints/BL1e-07W1e-08E5/output.txt
checkpoints/BL1e-07W1e-09B1E10/output.txt
checkpoints/BL1e-07W1e-09B1E15/output.txt
checkpoints/BL1e-07W1e-09B2E10/output.txt
checkpoints/BL1e-07W1e-09B2E15/output.txt
checkpoints/BL1e-07W1e-09B2E5/output.txt
checkpoints/BL1e-07W1e-09B4E10/output.txt
checkpoints/BL1e-07W1e-09B4E15/output.txt
checkpoints/BL1e-07W1e-09E5/output.txt
checkpoints/BSAL1e-06W1e-07B1E10/output.txt
checkpoints/BSAL1e-06W1e-07B1E15/output.txt
checkpoints/BSAL1e-06W1e-07B2E10/output.txt
checkpoints/BSAL1e-06W1e-08B1E10/output.txt
checkpoints/BSAL1e-06W1e-08B1E15/output.txt
checkpoints/BSAL1e-06W1e-08B2E10/output.txt
checkpoints/BSAL1e-06W1e-09B1E10/output.txt
checkpoints/BSAL1e-06W1e-09B1E15/output.txt
checkpoints/BSAL1e-06W1e-09B2E10/output.txt
checkpoints/BSAL1e-06W1e-09B2E15/output.txt
checkpoints/BSAL1e-07W1e-07B1E10/output.txt
checkpoints/BSAL1e-07W1e-07B1E15/output.txt
checkpoints/BSAL1e-07W1e-07B2E10/output.txt
checkpoints/BSAL1e-07W1e-07B2E15/output.txt
checkpoints/BSAL1e-07W1e-07B4E10/output.txt
checkpoints/BSAL1e-07W1e-07B4E15/output.txt
checkpoints/BSAL1e-07W1e-08B1E10/output.txt
checkpoints/BSAL1e-07W1e-08B1E15/output.txt
checkpoints/BSAL1e-07W1e-08B2E10/output.txt
checkpoints/BSAL1e-07W1e-08B2E15/output.txt
checkpoints/BSAL1e-07W1e-08B4E10/output.txt
checkpoints/BSAL1e-07W1e-08B4E15/output.txt
checkpoints/BSAL1e-07W1e-09B1E10/output.txt
checkpoints/BSAL1e-07W1e-09B1E15/output.txt
checkpoints/BSAL1e-07W1e-09B2E10/output.txt
checkpoints/BSAL1e-07W1e-09B2E15/output.txt
checkpoints/BSAL1e-07W1e-09B4E10/output.txt
checkpoints/BSAL1e-07W1e-09B4E15/output.txt
checkpoints/validation_scores_sorted.txt
checkpoints/validation_scores.json
checkpoints/AL1e-04W1e-07E10/output.txt
checkpoints/AL1e-04W1e-07E15/output.txt
checkpoints/AL1e-04W1e-07E5/output.txt
checkpoints/AL1e-04W1e-08E10/output.txt
checkpoints/AL1e-04W1e-08E15/output.txt
checkpoints/AL1e-04W1e-08E5/output.txt
checkpoints/AL1e-04W1e-09E10/output.txt
checkpoints/AL1e-04W1e-09E15/output.txt
checkpoints/AL1e-04W1e-09E5/output.txt
checkpoints/AL1e-05W1e-07E10/output.txt
checkpoints/AL1e-05W1e-07E15/output.txt
checkpoints/AL1e-05W1e-07E5/output.txt
checkpoints/AL1e-05W1e-08E10/output.txt
checkpoints/AL1e-05W1e-08E15/output.txt
checkpoints/AL1e-05W1e-08E5/output.txt
checkpoints/AL1e-05W1e-09E10/output.txt
checkpoints/AL1e-05W1e-09E15/output.txt
checkpoints/AL1e-05W1e-09E5/output.txt
checkpoints/AL1e-06W1e-07E10/output.txt
checkpoints/AL1e-06W1e-07E15/output.txt
checkpoints/AL1e-06W1e-07E5/output.txt
checkpoints/AL1e-06W1e-08E10/output.txt
checkpoints/AL1e-06W1e-08E15/output.txt
checkpoints/AL1e-06W1e-08E5/output.txt
checkpoints/AL1e-06W1e-09E10/output.txt
checkpoints/AL1e-06W1e-09E15/output.txt
checkpoints/AL1e-06W1e-09E5/output.txt
checkpoints/AL1e-07W1e-07E10/output.txt
checkpoints/AL1e-07W1e-07E15/output.txt
checkpoints/AL1e-07W1e-07E5/output.txt
checkpoints/AL1e-07W1e-08E10/output.txt
checkpoints/AL1e-07W1e-08E15/output.txt
checkpoints/AL1e-07W1e-08E5/output.txt
checkpoints/AL1e-07W1e-09E15/output.txt
checkpoints/AL1e-07W1e-09E5/output.txt
checkpoints/BL1e-07W1e-07E5/output.txt
checkpoints/BL1e-07W1e-08E5/output.txt
checkpoints/BL1e-07W1e-09E5/output.txt
