# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Data and Logs
*.log
data/*
!data/.gitkeep
logs/
*.pkl
*.h5

# Ignore PNGs in data directory and all subdirectories
data/**/*.png

# Keep the data directory structure
!data/**/
!data/**/.gitkeep

# OS specific
.DS_Store
Thumbs.db

# Weights & Biases
wandb/
*.wandb
artifacts/

# Ignore .pth checkpoint files but keep all model directories and their structure
*.pth
checkpoints/**/*.pth

# Keep specific result files
!checkpoints/
!checkpoints/**/
!checkpoints/**/output.txt
!checkpoints/**/results/class_accuracies.png
!checkpoints/**/results/confusion_matrix.png
!checkpoints/**/results/evaluation_report.txt

# Explicitly ignore prediction directories
checkpoints/**/results/predictions/
checkpoints/**/results/rgb_predictions/

# Keep validation score files
!checkpoints/validation_scores.json
!checkpoints/validation_scores_sorted.txt
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0002_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0008_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0009_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0017_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0020_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0023_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0033_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0043_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0044_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0045_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0046_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0049_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0054_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0055_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0062_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0065_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0068_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0069_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0084_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0085_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0088_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0089_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0096_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0103_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0112_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0116_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0123_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0130_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0143_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0149_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0150_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0156_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0157_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0159_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0162_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0166_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0171_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0173_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0175_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0179_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0181_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0184_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0189_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0193_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0200_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0205_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0208_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0211_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0212_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0221_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0225_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0227_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0230_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0237_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0238_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0245_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0246_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0259_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0261_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0263_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0264_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0267_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0272_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0281_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0282_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0285_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0286_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0301_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0304_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0305_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0312_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0322_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0327_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0339_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0340_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0345_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0351_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0352_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0361_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0370_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0375_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0376_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0380_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0384_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0387_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0388_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0390_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0391_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0393_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0394_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0404_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0406_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0407_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0412_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0418_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0430_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0437_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0440_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0443_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0451_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0454_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0469_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0470_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0474_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0478_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0486_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0495_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0500_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0504_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0506_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0509_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0511_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0516_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0521_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0530_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0531_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0534_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0538_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0541_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0542_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0545_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0550_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0555_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0560_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0563_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0567_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0568_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0582_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0583_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0585_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0587_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0588_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0598_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0599_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0600_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0615_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0618_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0634_pred.png
checkpoints/AL1e-04W1e-07B1E5/results/predictions/biodiversity_0637_pred.png
